@model webtrades.Models.AdminProfileModel


@{
    ViewData["Title"] = "Profile";
    Layout = "_UserLayout";
}
    <style>
        @@font-face {
            font-family: 'FontAwesome';
            src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal
        }

        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        .glyphicon-chevron-right:before {
            content: "\f054";
        }

        .glyphicon-chevron-left:before {
            content: "\f053";
        }
    </style>

    <div class="text-center">
        <p class="h2">Профиль: @Model.Person.Login</p>
        <p class="h3">Баланс: @Model.Person.PersonalAccount</p>
        <a asp-controller="User" asp-action="Profile" asp-route-cont="Accounts" class="btn btn-primary">Баланс товаров</a>
        <a asp-controller="User" asp-action="Profile" asp-route-cont="Operations" class="btn btn-success">История операций</a>
        @if (ViewBag.cont == "Accounts")
        {
            <table class="table">
                <tr><td>Товар</td><td>Количество</td></tr>
                @foreach (ItemPersonAccount ipa in Model.Person.Accounts)
                {
                    <tr><td>@ipa.Item.Name</td><td>@ipa.ItemQuantity</td></tr>
                }
            </table>
        }
        else
        {
            @if (ViewBag.cont == "Operations")
            {
                <p class="h2">Последние операции: </p>
                <table class="table">
                    <tr><td>Время проведения</td><td>Товар</td><td>Тип операции</td><td>Полученные средства</td></tr>
                    @foreach (TradeOperation ipa in Model.Operations)
                    {
                        @if (ipa.OperationType == "Buy")
                        {
                            <tr><td>@ipa.DateOfOperation</td><td>@ipa.Item.Name</td><td>@ipa.OperationType</td><td> - @ipa.Profit</td></tr>
                        }
                        else
                        {
                            <tr><td>@ipa.DateOfOperation</td><td>@ipa.Item.Name</td><td>@ipa.OperationType</td><td> + @ipa.Profit</td></tr>
                        }

                    }
                </table>
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <a asp-action="Profile"
                       asp-controller="User"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       asp-route-cont="Operations"
                       class="btn  btn-outline-dark">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Назад
                    </a>
                }
                @if (Model.PageViewModel.HasNextPage)
                {
                    <a asp-action="Profile"
                       asp-controller="User"
                       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       asp-route-cont="Operations"
                       class="btn btn-outline-dark">
                        Вперед
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            }
        }

        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebTrades</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Баланс: @Model.Person.PersonalAccount
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AddWithdrawFunds">Пополнить/вывести</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.Person.Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile">Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="LoginScreen" asp-action="Logout">Выход</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}


